<div class="container pt-5" id="containerimg">
    <div class="row">
        <div class="col-md-12">
            <div style="margin-top: -50px; color: rgb(203, 100, 100);">
                <h1 style="font-size: 40px;"> <b>SOMETHING WENT WRONG</b></h1>
   </div>
            <div class="error-template">
                <div class="error-actions">
                    <a routerLink="/" class="home-button btn btn-outline-primary btn-rounded" type="button"
                    data-mdb-ripple-init data-mdb-ripple-color="dark">
                        <span class="return">RETURN TO</span>
                        <span class="home-page">HOME PAGE</span>
                    </a>
                </div>
            </div>
        </div>
  </div>
</div>