.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    margin-left: auto; 
    margin-right: 5%; 
    margin-left: 430%;
    height: 70px; 
  }
  
  td {
    white-space: nowrap;
  }
  
  
  th {
    background-color: white !important;
    border-radius: 5px;
    white-space: nowrap;
    position: sticky;
    top: 0;
  }
  .actionheader {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }
  @media only screen and (max-width: 650px) {
    #input-field {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
  
    #input-field .col {
        margin: 1vh;
    }
  
    #input-field #searchbtn {
        width: 87vw;
    }
    .outerbox {
        width: 95%;
    }
    .mat-mdc-form-field {
        font-size: 14px;
        width: 80%;
        height: 70px; 
        margin-left: 10%;
        margin-top: 10px;
    }
  
    .round-button {
        top:17%;
        right: 10px;
        width: 50px;
        z-index: 2;
    }
  }
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .tex-tbox {
    margin-top: 10px;
    width: 150%;
    margin-left: 30%;
  }
  div.mycontainer {
    display: grid;
    grid-template-columns: 40%30%30%;
  }
  
  
  @mixin mobile-and-up {
    @media screen and (min-width: 601px) {
        @content;
    }
  }
  
  @mixin tablet-and-down {
    @media screen and (max-width: 768px) {
        @content;
    }
  }
  
  @mixin mobile-only {
    @media screen and (max-width: 600px) {
        @content;
    }
  }
  
  @mixin tablet-and-down {
    @media screen and (max-width: 768px) {
        @content;
    }
  }
  
  @include tablet-and-down {
    .tabx {
        display: none;
    }
  }
  
  
  @include mobile-and-up() {
  
    .modal-content {
        background: white;
        padding: 10px;
        border-radius: 5px;
        height: 390px;
        width: 900px;
        align-items: center;
        max-height: 600px;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
  
    .xmodal-content {
        background: white;
        padding: 10px;
        border-radius: 5px;
        height: 330px;
        width: 900px;
        align-items: center;
        max-height: 700px;
    }
  }
  
  @include tablet-and-down() {
    .modal-content {
        background: white;
        padding: 10px;
        border-radius: 5px;
        height: 280px !important;
        width: 350px !important;
        align-items: center;
        max-height: 700px;
  
    }
  
    .modal-dialog-phone {
        width: 90%
    }
  
  }
  
  ::ng-deep .timepicker__header {
    background-color: #ff8a00 !important;
  }
  
  ::ng-deep span.active {
    background-color: #ff8a00 !important;
    color: #fff;
  }
  
  ::ng-deep .timepicker-button {
    color: #ff8a00 !important;
  }
  
  ::ng-deep .clock-face__clock-hand {
    --clock-hand-color: #ff8a00 !important;
  }